/* 导航 */

.nav {
    height: 50px;
    border-bottom: 2px solid #b1191a;
}

.nav .tab {
    height: 45px;
    width: 1050px;
}

.nav .tab ul {
    padding: 0;
}

.nav .tab ul li {
    float: left;
    height: 50px;
    width: 150px;
    line-height: 50px;
    text-align: center;
}

.current {
    background-color: silver;
}


/* 筛选索引 */

.navGroup {
    height: 225px;
}

.groupTitle {
    margin-left: 45px;
    margin-top: 5px;
    height: 45px;
    line-height: 45px;
}

.groupBody {
    height: 75px;
    border: 2px solid gray;
}

.groupBody .row {
    margin: 2px;
    height: 71px;
    border-bottom: 2px dashed rgba(222, 222, 222, 0.6);
}

.groupBody .row_first li {
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
}

.groupBody .row_title {
    margin-left: 43px;
    width: 105px;
}

.groupBody .row_body {
    padding-left: 45px;
    height: 71px;
}

.sort {
    margin: 20px 45px;
}

.sort .by_money {
    width: 75px;
    height: 35px;
    text-align: center;
    border: 2px solid rgb(128, 128, 128);
    line-height: 35px;
    font-size: 18px;
}

.sort .by_time {
    width: 75px;
    height: 35px;
    text-align: center;
    border: 2px solid rgb(128, 128, 128);
    border-left: 0px;
    line-height: 35px;
    font-size: 18px;
}