/* -------------------- */

.oder_state {
    margin-top: 30px;
}

.oder_state .tab {
    height: 50px;
    border-radius: 10px;
    background-color: white;
}

.oder_state .tab ul li {
    height: 50px;
    width: 24%;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
}

.oder_state .state span {
    display: inline-block;
    padding: 0 2%;
    margin-right: 20%;
    height: 50px;
}

.oder_state .down {
    margin-top: 20px;
}

.oder_state .down .contant {
    position: relative;
    width: 100%;
    height: 200px;
    border: 2px solid rgba(245, 139, 15);
    background-color: rgb(255, 247, 235);
    border-radius: 8px;
}

.oder_state .down .triangle_bottom span {
    position: absolute;
    display: block;
    left: 10%;
    top: -31px;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-bottom-color: rgba(245, 139, 15);
}

.oder_state .tab .current span {
    background-color: rgba(245, 139, 15);
}

.oder_state .down .item {
    padding: 20px 30px;
    display: none;
}

.oder_state .down .item li {
    list-style-type: circle;
}


/* ------------- */

.oder_detail {
    position: relative;
    margin-top: 60px;
    padding: 0 30px;
    width: 100%-60px;
    background-color: white;
    border: 2px solid rgba(245, 139, 15);
}

.oder_detail .head {
    position: absolute;
    top: -37px;
    left: 28px;
    height: 35px;
    line-height: 35px;
    width: 150px;
    background-color: white;
    border: 2px solid rgba(245, 139, 15);
    border-bottom: 0;
    text-align: center;
    font-size: 18px;
}

.oder_detail .oderInfo {
    height: 250px;
    padding: 15px 40px;
}

.oder_detail .body {
    padding: 15px 40px;
}

.oder_detail .body div {
    margin: 10px 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
}

.oder_detail .body button {
    border-radius: 8px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 140px;
    /* transition: all 0.5s; */
    cursor: pointer;
    margin: 15px 0;
    margin-left: 37%;
}

.oder_detail .body .btn_none {
    pointer-events: none;
    background-color: gray;
}