<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wmyskxz.mapper.EvaluationMapper">
  <resultMap id="BaseResultMap" type="cn.wmyskxz.pojo.Evaluation">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="use_id" jdbcType="INTEGER" property="use_id" />
    <result column="order_id" jdbcType="INTEGER" property="order_id" />
    <result column="like_" jdbcType="INTEGER" property="like_" />
    <result column="class_id" jdbcType="INTEGER" property="class_id" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="cn.wmyskxz.pojo.Evaluation">
    <result column="evaluation" jdbcType="LONGVARCHAR" property="evaluation" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, use_id, order_id, like_, class_id
  </sql>
  <sql id="Blob_Column_List">
    evaluation
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="cn.wmyskxz.pojo.EvaluationExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from evaluation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="cn.wmyskxz.pojo.EvaluationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from evaluation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from evaluation
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from evaluation
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.wmyskxz.pojo.EvaluationExample">
    delete from evaluation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.wmyskxz.pojo.Evaluation" useGeneratedKeys="true">
    insert into evaluation (use_id, order_id, like_, 
      class_id, evaluation)
    values (#{use_id,jdbcType=INTEGER}, #{order_id,jdbcType=INTEGER}, #{like_,jdbcType=INTEGER}, 
      #{class_id,jdbcType=INTEGER}, #{evaluation,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="cn.wmyskxz.pojo.Evaluation" useGeneratedKeys="true">
    insert into evaluation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="use_id != null">
        use_id,
      </if>
      <if test="order_id != null">
        order_id,
      </if>
      <if test="like_ != null">
        like_,
      </if>
      <if test="class_id != null">
        class_id,
      </if>
      <if test="evaluation != null">
        evaluation,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="use_id != null">
        #{use_id,jdbcType=INTEGER},
      </if>
      <if test="order_id != null">
        #{order_id,jdbcType=INTEGER},
      </if>
      <if test="like_ != null">
        #{like_,jdbcType=INTEGER},
      </if>
      <if test="class_id != null">
        #{class_id,jdbcType=INTEGER},
      </if>
      <if test="evaluation != null">
        #{evaluation,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.wmyskxz.pojo.Evaluation">
    update evaluation
    <set>
      <if test="use_id != null">
        use_id = #{use_id,jdbcType=INTEGER},
      </if>
      <if test="order_id != null">
        order_id = #{order_id,jdbcType=INTEGER},
      </if>
      <if test="like_ != null">
        like_ = #{like_,jdbcType=INTEGER},
      </if>
      <if test="class_id != null">
        class_id = #{class_id,jdbcType=INTEGER},
      </if>
      <if test="evaluation != null">
        evaluation = #{evaluation,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="cn.wmyskxz.pojo.Evaluation">
    update evaluation
    set use_id = #{use_id,jdbcType=INTEGER},
      order_id = #{order_id,jdbcType=INTEGER},
      like_ = #{like_,jdbcType=INTEGER},
      class_id = #{class_id,jdbcType=INTEGER},
      evaluation = #{evaluation,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.wmyskxz.pojo.Evaluation">
    update evaluation
    set use_id = #{use_id,jdbcType=INTEGER},
      order_id = #{order_id,jdbcType=INTEGER},
      like_ = #{like_,jdbcType=INTEGER},
      class_id = #{class_id,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>